.myAtropos {
  position: relative;
  overflow: hidden;
}

.glowing-icons a {
  cursor: url('../../../assets/images/cursor/link.png'), default;
  position: relative;
  background: #202020;
  text-decoration: none;
  border-radius: 50%;
  color: #808080;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.glowing-icons i {
  font-size: 1.5rem;
}

.glowing-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.glowing-icons a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffffff;
}

.glowing-icons a:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .glowing-icons a {
    width: 45px;
    height: 45px;
  }

  .glowing-icons i {
    font-size: 1.2rem;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100vw;
  height: auto;
  max-height: 100vh;
}

.container-info {
  height: auto;
  width: 100vw;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    text-align: center;
  }
}

#sound-slider__container {
  display: flex;
  gap: 10px;
  width: 90%;
  max-width: 300px;
  height: auto;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 1in;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#sound-slider {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  transition: .2s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

#sound-slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

#sound-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

#volume {
  color: #dcdcdc;
}

@media screen and (max-width: 768px) {
  #sound-slider__container {
    width: 100%;
    max-width: 250px;
    padding: 10px 20px;
  }
  #sound-slider {
    height: 8px;
  }
}
